@import "~bootstrap/scss/bootstrap";


body {background-color: white;}

canvas {
    border: 5px solid black;
    padding: 0px;
    vertical-align: top;
}

#mapContainer {
    position: relative;
}

#courseTitle {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 40em;
    position: absolute;
    vertical-align: middle;
    margin: auto;
    z-index: 0;
    margin-top: 38px;
}

#mapConfirm {
    position: relative;
    margin: auto;
}

#navLinks {
    text-align: center;
    margin: auto;
}

.sessionInfo {
    margin: auto;
    margin-right:0;
}

.sessionText {
    width: 100%;
}

.sessionGreeting {
    text-align: right;
    padding-right: 5%;
}

.sessionGo {
    height: 100%;
    width: 100%;
}

#sessionGoContainer {
    padding: 0;
}

#sessionTable {
    width: 100%;
    margin: auto;
}

#sessionLogOut {
    width: 20%;
    margin: auto;
    height: 100%;
}

#pageTitle {
    margin: auto;
}

.nopad {
    padding: 0;
    margin: 0;
}